import os.path
from secrets import app

def here(rel):
    return os.path.join(
            os.path.dirname(os.path.realpath(__file__)),
            rel
        )

app.config.update(
    ADMIN_PASSWORD = 'password',
    DATA_DIR = here('data'),
    )

app.run()
