{% extends 'base.html' %}

{% block before %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fileinput.min.css') }}">
    <style>
        .kv-fileinput-caption {
            border-radius: 0 !important;
        }
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fileinput.min.js') }}"></script>
{% endblock %}

{% block after %}
    <script>
        $("#file").fileinput({
            'showPreview': false,
            'showUpload': false
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="post" role="form form-horizontal" enctype="multipart/form-data">
                        <div class="form-group input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                            <input autofocus class="form-control" name="note" type="text">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-file"></i>
                            </span>
                            <input id="file" class="file"  name="file" type="file">
                        </div>
                        <button type="submit" class="btn btn-success">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
