{% extends 'base.html' %}
{% block subtitle %} - admin{% endblock %}
{% block content %}
    <div class="container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="post" role="form form-horizontal">
                        {% if invalid is defined and invalid %}
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                &nbsp
                                Nope
                            </div>
                        {% endif %}
                        <div class="form-group input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input autofocus class="form-control" placeholder="Admin password" name="password" type="password">
                        </div>
                        <button type="submit" class="btn btn-success">Enter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
