{% extends 'base.html' %}
{% block subtitle %} - admin{% endblock %}
{% block content %}
    <h3>{{ name }}</h3>
    <ul>
    {% for mid, note, filename in messages %}
        <li>
            {% if filename is not none %}
                <a href="/admin/files/{{ mid }}">{{ filename }}</a>
            {% else %}
                no file
            {% endif %}
            {% if note is not none %}
                <pre>{{ note|e }}</pre>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
